<% if (title) { %>
    <h1><%= title %></h1>
  <% } %>
  
  <%- messages() %>
  <% if (typeof errors !== 'undefined' && errors && errors.errors && errors.errors.length > 0) { %>
    <div class="notice">
      <ul>
        <% errors.errors.forEach(function(error) { %>
          <li><%= error.msg %></li>
        <% }) %>
      </ul>
    </div>
  <% } %>
  
  <form action="/inv/update" method="post" class="account-login-form" id="editInventoryForm" novalidate>
    <div class="form-group">
      <label for="classificationList">Classification:</label>
      <%- classificationSelect %>
    </div>
    <div class="form-group">
      <label for="inv_make">Make:</label>
      <input type="text" id="inv_make" name="inv_make" maxlength="50" required value="<%= typeof inv_make !== 'undefined' ? inv_make : '' %>">
    </div>
    <div class="form-group">
      <label for="inv_model">Model:</label>
      <input type="text" id="inv_model" name="inv_model" maxlength="50" required value="<%= typeof inv_model !== 'undefined' ? inv_model : '' %>">
    </div>
    <div class="form-group">
      <label for="inv_year">Year:</label>
      <input type="number" id="inv_year" name="inv_year" min="1886" max="2099" required value="<%= typeof inv_year !== 'undefined' ? inv_year : '' %>">
    </div>
    <div class="form-group">
      <label for="inv_description">Description:</label>
      <textarea id="inv_description" name="inv_description" maxlength="1000" required><%= typeof inv_description !== 'undefined' ? inv_description : '' %></textarea>
    </div>
    <div class="form-group">
      <label for="inv_image">Image Path:</label>
      <input type="text" id="inv_image" name="inv_image" required value="<%= typeof inv_image !== 'undefined' ? inv_image : '/images/vehicles/no-image.png' %>">
      <p class="form-text">Default: /images/vehicles/no-image.png</p>
    </div>
    <div class="form-group">
      <label for="inv_thumbnail">Thumbnail Path:</label>
      <input type="text" id="inv_thumbnail" name="inv_thumbnail" required value="<%= typeof inv_thumbnail !== 'undefined' ? inv_thumbnail : '/images/vehicles/no-image-tn.png' %>">
      <p class="form-text">Default: /images/vehicles/no-image-tn.png</p>
    </div>
    <div class="form-group">
      <label for="inv_price">Price:</label>
      <input type="number" id="inv_price" name="inv_price" min="0" step="1" required value="<%= typeof inv_price !== 'undefined' ? inv_price : '' %>">
    </div>
    <div class="form-group">
      <label for="inv_miles">Miles:</label>
      <input type="number" id="inv_miles" name="inv_miles" min="0" step="1" required value="<%= typeof inv_miles !== 'undefined' ? inv_miles : '' %>">
    </div>
    <div class="form-group">
      <label for="inv_color">Color:</label>
      <input type="text" id="inv_color" name="inv_color" maxlength="20" required value="<%= typeof inv_color !== 'undefined' ? inv_color : '' %>">
    </div>
    <button id="updateForm" type="submit" disabled>Update Vehicle</button>
    <input type="hidden" name="inv_id" value="<%= typeof inv_id !== 'undefined' ? inv_id : '' %>">
  </form>
  <script src="/js/inv-update.js"></script>