<% if (title) { %>
  <h1><%= title %></h1>
<% } %>
<div class="notice" style="background:#e0ffe0;color:#155724;border:1px solid #b2dfdb;">
  <p>Thank you for your offer of <strong>$<%= new Intl.NumberFormat('en-US').format(offer_price) %></strong>!</p>
  <p>We will contact you with instructions on how to make payments.</p>
</div>
<div class="vehicle-detail">
  <img src="<%= vehicle.inv_image %>" alt="Photo of <%= vehicle.inv_year %> <%= vehicle.inv_make %> <%= vehicle.inv_model %>" class="vehicle-image">
  <div class="vehicle-info">
    <h2>Vehicle Details</h2>
    <p><strong>Make:</strong> <%= vehicle.inv_make %></p>
    <p><strong>Model:</strong> <%= vehicle.inv_model %></p>
    <p><strong>Year:</strong> <%= vehicle.inv_year %></p>
    <p><strong>Price:</strong> $<%= new Intl.NumberFormat("en-US").format(vehicle.inv_price) %></p>
    <p><strong>Mileage:</strong> <%= new Intl.NumberFormat("en-US").format(vehicle.inv_miles) %> miles</p>
    <p><strong>Description:</strong> <%= vehicle.inv_description %></p>
  </div>
</div> 